:no_entry_sign: :raised_hand: @{{ .User }} is forbidden from running `atlantis apply`.  

:point_right: Please contact repository owners to be added to @{{ .Org }}/{{ .Team }} otherwise merge the PR to automatically apply these changes