| Operation | **Status** | **Logs** |  
| - | - | - |
| Plan | {{ if .PlanStatus }}`{{.PlanStatus}}`{{else}}N/A{{end}} |{{ if .PlanLogURL }}[Click Here]({{.PlanLogURL}}){{else}}N/A{{end}} |
| Apply | {{ if .ApplyStatus }}`{{.ApplyStatus}}`{{else}}N/A{{end}} |{{ if .ApplyLogURL }}[Click Here]({{.ApplyLogURL}}){{else}}N/A{{end}} |

{{if .InternalError }}
## Internal Service Error :boom:
:point_right: This is most likely a bug, please contact service owners to debug further
{{end}}