Requested Revision has diverged from deployed revision `[{{ .Revision }}]({{ .RevisionURL }}){{ if ne .Pull 0}}([#{{ .Pull }}]({{ .PullURL }}))`{{ end }}{{ if .User }} triggered by @{{ .User }}{{ end }}
{{ if and not .OnDefaultBranch .LatestOnDefaultBranch }}
:point_right: **Please rebase onto the default branch to pull in the latest changes.**
{{ else }}
There are changes that are unmerged.  Deploying this could cause an outage, please confirm with revision owner {{ if .User }} @{{ .User }}{{ end }} whether this is desirable.
{{ end }}
