{{if .DivergedRevision }}
Requested Revision has diverged from deployed revision `[{{ .Revision }}]({{ .RevisionURL }}){{ if neq .Pull 0}}([#{{ .Pull }}]({{ .PullURL }}))`{{ end }}{{ if .User }} triggered by @{{ .User }}{{ end }}
{{ if .NotDefaultBranch }}
we are on the default branch and latest deployed on the default branch X not possible
we are not on default branch and latest deployed not on default possible (we need to tell them to check with the owners of the revision before proceeding)
we are on default and latest deployed not on default (we need to tell them to check with the owners of the revision before proceeding)
we are not on default and latest deployed on default (we need to tell them to rebase before proceeding)

{{ end }}

{{ end }}
{{if .ManualTrigger }}

{{ end }} 